<p id="notice"><%= notice %></p>

<h1>Inscriptions</h1>

<table>
  <thead>
  <tr>
    <th>Student</th>
    <th>Course</th>
    <th>Classroom</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @inscriptions.each do |inscription| %>
      <tr>
        <td><%= inscription.student.fullname %></td>
        <td><%= inscription.course.title %></td>
        <td><%= inscription.classroom.number %></td>
        <td><%= link_to 'Remove', inscription, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inscription', new_inscription_path %>
